* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid black;
  }

.star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
}

