.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid darkblue;;
  }

.star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
}